/* CSS classes main */
.container-fluid {
  padding: 0%;
}

/* CSS classes top section */
.container-top {
  background-color: #9ede73;
  padding: 10%;
  color: #ffffff;
}

.header-text-top {
  font-size: 400%;
  font-weight: "bold";
  margin-top: 20%;
}
.image-top {
  height: 400px;
}
