/* CSS classes main */
.container-fluid {
  padding: 0%;
}

/* CSS classes top section */
.container-top {
  position: relative;
  background-color: #0d1118;
  padding: 10%;
  color: #ffffff;
}

.top-row {
  align-items: center;
}

.header-text-top {
  margin-top: 10%;
  font-size: 400%;
}

.btn {
  background-color: #238636;
  color: #ffffff;
  padding: 20px 20px;
  font-size: 16px;
  margin: 10px;
  border: 1px solid #fff;
  font-weight: 700;
  border-radius: 8px;
}

.btn:hover {
  background-color: #ffffff;
  color: #238636;
  border: 1px solid #238636;
}

.image-top {
  height: 100%;
  width: 70%;
}

/* CSS classes middle section */
.container-middle {
  position: relative;
  padding: 5%;
  background-color: #fafbfe;
}

.card {
  margin-bottom: 30px;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid #eff2f7;
  border-radius: 0.375rem;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 1rem 3rem rgb(31 45 61 / 13%);
  transition: all 0.2s ease;
}

/* CSS classes footer section */
.container-footer {
  padding: 2%;
  background-color: #0d1118;
  color: #ffffff;
}
